= render 'vote'
.question-errors
.question-content
  = render 'content'
- if can? :update, @question
  = link_to t('.edit_question'), '', class: 'edit-question-link'
  = render 'form', remote: true, 
    button_class: 'edit-question-button',
    attachments: @question.attachments.first || @question.attachments.build
