// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
.question > .edit_question,
.new_comment { 
  display: none; 
}


.attachments {
  .edit_question { display: block; }
}

.question {
  border: 2px solid #a9a;
  border-radius: 10px;
  background-color: #cac;
  @extend .col-md-6;
  @extend .col-md-offset-1;
}
