// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
.question > .edit_question,
.new_comment { 
  display: none; 
}


.attachments {
  .edit_question { display: block; }
}

.question {
  @extend .col-lg-8;
  @extend .col-lg-offset-1;
  border: 2px solid #e4e4e4;
  border-radius: 3px;
  background-color: #f1f1f1;
  margin: 0 auto;
  float: none;
}
